@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

html, body {
	margin: 0;
	height: 100%;
	overflow: hidden;
}

body.light {
    background: white;
    color: black;
}

body.dark {
    background: #05080e;
    color: white;
}
